* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.sectionpai {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado1 {
    width: 50%;
    height: 100vh;

}

.lado2 {

    width: 70%;
    height: 100vh;

}

header {
    margin-top: 50px;
    margin-left: 20%;
    width: 150%;
}

header a {
    color: black;
    margin-right: 70px;
}

.lado1 a:nth-child(6) {
    background-color: #665AE1;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    color: white;


}

img {
    margin-top: 20%;
    margin-left: 200px;

}

.caixa-texto {
    margin-top: 25%;
    margin-left: 150px;
    width: 600px;
    height: 200px;

}

h1 {
    width: 900;
    font-size: 100px;
    line-height: 100%;
    color: #515151;
    margin-bottom: 20px;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    color: #515151;
    margin-bottom: 40px;
}

p {
    font-weight: 500px;
    width: 548px;
    height: 71px;
    font-size: 24px;
    line-height: 100%;
    color: #515151;
    margin-bottom: 80px;
}

.lado2 a {

    background-color: #ADFF00;
    padding: 20px 60px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px) {
    .sectionpai {
        flex-direction: column;
        margin-top: 0px;
        margin-left: 10px;
    }
  

    .lado1,
    .lado2 {
        width: 100%;

    }

    header a {
        display: none;

    }

    header a:nth-child(6) {
        position: relative;

        width: 150px;
        display: block;
        padding: 10px 20px;
        margin-left: 120px;
    text-align: center;
    }

    img {
        margin: 0;
        width: 90%;
        height: auto;
    }

    .caixa-texto {
        margin: 20px;
        width: auto;
        height: auto;
        margin-left: 40px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        display: none;
    }




}